DB_SERVER=192.168.0.254
DB_USER=microuni
DB_PASSWORD=microuni

SECRET_KEY=sua_chave_secreta_muito_segura_aqui

ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Nível de log: DEBUG (dev) ou WARNING (produção)
LOG_LEVEL=WARNING